# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
venv/

# Database
*.db
*.sqlite3

# Env
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tools
.ruff_cache/
.pytest_cache/
